body {
  background-color: black;
}
h1 {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 80px;
}
#game_box {
  position: relative;
  background-color: green;
  border: 6px solid black;
  border-radius: 25px;
  height: 700px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.players {
  position: absolute;
}
#north_player, #human_player {
  left: 300px;
}
#north_player {
  top: 2px;
}
#human_player {
  bottom: 2px;
}
#east_player, #west_player {
  top: 300px;
}
#east_player {
  left: 2px;
}
#west_player {
  right: 2px;
}
#human_cards, #north_cards, #west_cards, #east_cards {
  position: absolute;
  color: white;
  font-size: 20px;
}
#human_cards {
  bottom: 100px;
  left: 120px;
}
#north_cards {
  color: pink;
  top: 100px;
  left: 190px;
}
#west_cards {
  color: blue;
  top: 400px;
  left: 0px;
}
#east_cards {
  color: black;
  top: 230px;
  right: 10px;
}
#scoretitle, #scoreboard {
  position: absolute;
  color: white;
  font-family: monospace;
}
#scoretitle {
  font-size: 50px;
  top: 140px;
  float: left;
}
#scoreboard {
  font-size: 30px;
  padding-left: 0px;
  top: 240px;
}
#north_play, #west_play, #east_play, #south_play {
  font-size: 30px;
  color: white;
  position: absolute;
}
#north_play {
  left: 340px;
  top: 300px;
}
#west_play {
  top: 330px;
  left: 300px;
}
#east_play {
  top: 330px;
  right: 280px;
}
#south_play {
  left: 338px;
  bottom: 300px;
}
#directions {
  text-align: center;
  position: relative;
  top: 520px;
  color: white;
  font-family: monospace;
  font-size: 15px;
}
.playable {
  color: red;
}
