body {
  background-color: black;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 70px;
}
#game_box {
  position: relative;
  background-color: green;
  border: 6px solid black;
  border-radius: 25px;
  height: 700px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.players {
  position: absolute;
}
#north_player, #human_player {
  left: 300px;
}
#north_player {
  top: 2px;
}
#human_player {
  bottom: 2px;
}
#east_player, #west_player {
  top: 300px;
}
#east_player {
  left: 2px;
}
#west_player {
  right: 2px;
}
#human_cards, #north_cards, #west_cards, #east_cards {
  position: absolute;
  color: white;
  font-size: 20px;
}
#human_cards {
  bottom: 102px;
  left: 100px;
}
#north_cards {
  top: 100px;
  left: 100px;
}
#west_cards {
  top: 200px;
  left: 100px;
}
#east_cards {
  top: 300px;
  left: 100px;
}
#scoretitle {
  text-align: left;
  color: white;
  float: left;
}
#scoreboard {
  text-align: center;
  color: white;
}
#north_play, #west_play, #east_play, #south_play {
  color: white;
  position: absolute;
  top: 10px;
}
#north_play {
  left: 5px;
}
#west_play {
  left: 25px;
}
#east_play {
  left: 45px;
}
#south_play {
  left: 65px;
}
